.herosectionleft__container{
    width: 592px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroleftheader{
    text-align: left;
    width: 100%;
    font-size: 3rem;
    font-weight: 800;
    line-height: 5rem;
    font-family: 'Playfair Display', serif;
}

.hero_left_section__containt{
    width: 692px;
    height: 179px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.heroleft_img{
    width: 585px;
    height: 353px;
    margin-top: 60px;

}

.underlined {
    position: relative;
    margin-right: 1rem;
  }
  .underlined:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 2px #cb1829;
    border-color: #cb1829 transparent transparent transparent;
    border-radius: 50%;
  }

  .about{
    font-size:14px;
    letter-spacing:2px;
    line-height: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
}

mark{
    background: #F8EC34 !important;
}


.content{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
}