.content_partner{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.left_content_partner{
    width: 673px;
    height: 375px;
}
